* {
  font-family: 'Sriracha', cursive;
}

body {
  display: grid;
  grid-template-columns: auto 90% auto;
  grid-template-rows: 7% 41% 49%;
  height: 100vh;
  width: 100vw;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

header input {
  width: 50%;
  padding-left: 10px;
  height: 2rem;
  margin: 0 10px;
}

header input::placeholder {
  color: grey;
}

header button {
  width: 30%;
  background-color: royalblue;
  color: white;
  border-radius: 7px;
  font-size: 1.2rem;
}
/* header end */

/* body */
.weather-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
}

.before {
  font-size: 2rem;
}

.address {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
}
.address h1 {
  margin: 0;
  font-size: 3rem;
}
.address h4 {
  margin: 0;
  font-size: 1.5rem;
}

.forecast-container {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.forecast {
  border: 1px black solid;
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.img-container {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 5px auto;
  background-color: rgb(146, 146, 146);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: auto;
}
.weather-info h4 {
  margin: 0;
}

.date-info, .max-min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.weather {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 auto;
}


/* body end */

/* map */
.map {
  grid-column: 2/3;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.google-map-container h4 {
  margin: 0 0 0 30px;
  font-size: 1.5rem;
}

.map-container {
  width: 85%;
  height: 85%;
  margin: auto;
  background-color: green;
}

.free-space {
  height: 41vh;
  width: 38vw;
  margin: auto;
  background-color: green;
}
/* map end */